@{
    ViewData["Title"] = "Sách "; 
    Layout = "_Layout";
}
@section LinkCss{
    <link rel="stylesheet" type="text/css" href="~/css/chiTietSanPham.css" />
}
<section id="breadcrumb-wrapper">
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner">
                <div class="breadcrumb-small">
                    <a href="/" title="Quay trở về trang chủ">Trang chủ</a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <a href="/collections/sach-tieng-viet" target="_self">
                        <span>Sách Tiếng Việt</span>
                    </a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <a href="/collections/am-nhac-my-thuat-thoi-trang" target="_self">
                        <span>Âm Nhạc - Mỹ Thuật - Thời Trang - Thiết Kế - Điện Ảnh</span>
                    </a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <span>Tôi Vẽ - Phương Pháp Tự Học Vẽ Truyện Tranh</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-main">
    <div class="container">
        <div class="container-inner">
            <form action="" id="product_addtocart_form">
                <div class="product-view kasitoo" id="product_view_kasitoo">
                    <div class="product-essential">
                        <div class="product-essential-media-parent">
                            <div class="product-essential-media">
                                <div class="product_view_media_fk_addtocart">
                                    <div class="product-view-image">
                                        <div class="product-view-thumbnail">
                                            <div class="lightgallery" id="lightgallery-product-media">
                                                <a class="include-in-gallery" id="lightgallery-item-0" href="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 6 - Tặng Kèm Standee Lớp Học Mật Ngữ">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" alt="image">
                                                </a>
                                                <a class="include-in-gallery" id="lightgallery-item-0" href="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 6 - Tặng Kèm Standee Lớp Học Mật Ngữ">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" alt="image">
                                                </a>
                                                <a class="include-in-gallery" id="lightgallery-item-0" href="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 6 - Tặng Kèm Standee Lớp Học Mật Ngữ">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" alt="image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-view-image-product fhs_img_frame_container">
                                            <img id="image" class="fhs-p-img lazyloaded" src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" data-src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-tap6-364.jpg" alt="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 6 - Tặng Kèm Standee Lớp Học Mật Ngữ" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 6 - Tặng Kèm Standee Lớp Học Mật Ngữ">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="product_view_add_box">
                                        <button type="button" title="Thêm vào giỏ hàng" class="btn-cart-to-cart">
                                            <span class="fhs_icon_cart"><i class="fa-solid fa-cart-shopping"></i></span>
                                            <span>Thêm vào giỏ hàng</span>
                                        </button>
                                        <button type="button" title="Mua ngay" is_buynow="true" class="btn-buy-now">
                                            <span>Mua ngay</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="product_view_policy_left">
                                    <div class="product_view_policy_content_left" id="product_view_policy_content_left">
                                        <div class="product_view_policy_desktop">
                                            <div class="product_view_policy_title">Chính sách ưu đãi của Nhà sách cá chép</div>
                                            <div class="product-attribute">
                                                <div class="product_view_item_note">
                                                    <div class="product_view_item_note_title">
                                                        <div class="product_view_item_icon">
                                                            <i class="fa-solid fa-truck-fast"></i>
                                                        </div>
                                                        <div class="product_view_item_title">Thời gian giao hàng</div>
                                                    </div>
                                                    <div class="product_view_item_special_char">:&nbsp;</div>
                                                    <div class="product_view_item_content_container">
                                                        <div class="product_view_item_content">Giao nhanh và uy tín</div>
                                                        <div class="product_view_item_icon_more"></div>
                                                    </div>
                                                </div>

                                                <div class="product_view_item_note">
                                                    <div class="product_view_item_note_title">
                                                        <div class="product_view_item_icon"><i class="fa-solid fa-reply"></i></div>
                                                        <div class="product_view_item_title">Chính sách đổi trả</div>
                                                    </div>
                                                    <div class="product_view_item_special_char">:&nbsp;</div>
                                                    <div class="product_view_item_content_container">
                                                        <div class="product_view_item_content">Đổi trả miễn phí toàn quốc</div>
                                                        <div class="product_view_item_icon_more"></div>
                                                    </div>
                                                </div>

                                                <div class="product_view_item_note">
                                                    <div class="product_view_item_note_title">
                                                        <div class="product_view_item_icon"><i class="fa-solid fa-shop"></i>  </div>
                                                        <div class="product_view_item_title">Chính sách khách sỉ</div>
                                                    </div>
                                                    <div class="product_view_item_special_char">:&nbsp;</div>
                                                    <div class="product_view_item_content_container">
                                                        <div class="product_view_item_content">Ưu đãi khi mua số lượng lớn</div>
                                                        <div class="product_view_item_icon_more"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="product-essential-detail-parent">
                            <div class="product-essential-detail">
                                <div class="block-content-product-detail block-product-view-mobile">
                                    <h1 class="fhs_name_product_desktop">
                                        <div class="fhs_name_product_label">
                                            <a class="fhs_name_product_label_a" href="https://www.fahasa.com//seriesbook/index/series/id/999121">Bộ</a>
                                        </div>
                                        Lớp Học Mật Ngữ Phiên Bản Mới - Tập 6 - Tặng Kèm Standee Lớp Học Mật Ngữ
                                    </h1>
                                    <div class="product-view-sa">
                                        <div class="product-view-sa_one">
                                            <div class="product-view-sa-supplier">
                                                <span>Nhà xuất bản:</span>
                                                <span>Báo Sinh Viên Việt Nam - Hoa Học Trò</span>
                                            </div>
                                            <div class="product-view-sa-author">
                                                <span>Tác giả:</span>
                                                <span>B R O Group</span>
                                            </div>
                                        </div>
                                        <div class="product-view-sa_two">
                                            <div class="product-view-sa-supplier">
                                                <span>Hình thức bìa:</span>
                                                <span>Bìa Mềm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 price-block" id="product-view-price-block">
                                        <div class="product_price price-block-left" id="catalog-product-details-price">
                                            <div class="price-box">
                                                <div class="special-price">
                                                    <span class="price" id="product-price-459840">
                                                        22.500&nbsp;đ
                                                    </span>
                                                </div>
                                                <p class="old-price">
                                                    <span class="price" id="old-price-459840">25.000&nbsp;đ</span>
                                                    <span class="discount-percent">-10%</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                                <div class="block-content-product-detail block-info-delivery-mobile">
                                    <h2 class="block-content-product-detail-title">Thông tin vận chuyển</h2>
                                    <div id="expected_delivery">
                                        <div>
                                            <div id="expected_delivery_address" class="expected_delivery_address">
                                                <div style="display:flex;">
                                                    <div>
                                                        <span>
                                                            <span class="me-1">Giao hàng đến </span>
                                                        </span>
                                                        <span id="expected_delivery_address_content">Phường Bến Nghé, Quận 1, Hồ Chí Minh</span>
                                                    </div>
                                                    <div id="expected_delivery_address_change">Thay đổi</div>
                                                </div>
                                            </div>
                                            <div id="expected_delivery_detail" style="display: flex;" class="">
                                                <div class="icon_delivery"></div>
                                                <div class="expected_delivery_detail_content">
                                                    <div class="expected_delivery_detail_content_title">Giao hàng tiêu chuẩn</div>
                                                    <div id="expected_delivery_fpoint_time">Dự kiến giao<span class="expected_delivery_fpoint_time_content"> Thứ bảy - 14/12</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="padding-bottom-16-desktop" data-ref="info_quantity">
                                            <div id="catalog-product-details-discount">
                                                <div class="product-view-quantity-box">
                                                    <label for="qty">Số lượng:</label>
                                                    <div class="product-view-quantity-box-block">
                                                        <a class="btn-subtract-qty"><img style="width: 12px; height: auto;" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_minus2x.png"></a>
                                                        <input type="text" name="qty" id="qty" maxvalue="999" minvalue="1" value="1" title="SL" class="input-text qty">
                                                        <a class="btn-add-qty"><img style="width: 12px; height: auto;" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_plus2x.png"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="block-content-product-detail block-info-detail-mobile">
                                    <h2 class="block-content-product-detail-title">
                                        Thông tin chi tiết
                                    </h2>
                                    <div id="product_view_info" class="content product_view_content">
                                        <div class="product_view_content-title"></div>
                                        <div class="product_view_tab_content_ad">
                                            <div class="product_view_tab_content_additional">
                                                <table class="data-table table-additional">
                                                    <colgroup>
                                                        <col width="25%">
                                                        <col>
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="table-label">Mã hàng</th>
                                                            <td class="data_0">
                                                                <div class="attribute_link_container">123456</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Tác giả</th>
                                                            <td class="data_1">
                                                                <div class="attribute_link_container">123456</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Nhà cung cấp </th>
                                                            <td class="data_2">
                                                                <div class="attribute_link_container">123456</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Nhà xuất bản </th>
                                                            <td class="data_3">
                                                                <div class="attribute_link_container">123456</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Số trang    </th>
                                                            <td class="data_0">
                                                                <div class="attribute_link_container">123456</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-label">Hình thức</th>
                                                            <td class="data_0">
                                                                <div class="attribute_link_container">123456</div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="data-table">
                                                    <colgroup>
                                                        <col width="25%">
                                                        <col>
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="table-label">Sản phẩm bán chạy nhất</th>
                                                            <td>
                                                                <a style="font-size: 14px; color: #2489F4;" href="https://www.fahasa.com/sach-trong-nuoc/thieu-nhi/truyen-thieu-nhi/truyen-tranh-thieu-nhi.html?order=num_orders_month">Top 100 sản phẩm Truyện Tranh Thiếu Nhi bán chạy của tháng</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="block-content-product-detail block-info-detail-2-mobile" id="block-content-product-detail">
                                <h2 class="block-content-product-detail-title">Mô tả sản phẩm</h2>
                                <div id="product_tabs_description_contents" style="max-height: none; height: auto;">
                                    <div id="desc_content" class="std">
                                        <p style="text-align: justify;"><strong>Lớp Học Mật Ngữ Phiên Bản Mới - Tập 6</strong></p>
                                        <p style="text-align: justify;">Mùa lễ hội đã tưng bừng khắp nơi. Màu lấp lánh của Noel, của năm mới, đã tới sát sàn sạt rồi. Nhưng càng cuối năm nước rút, càng dễ bị pressing (áp lực) bởi vô vàn thử thách xung quanh. Nào, nhảy vào gỡ nút thắt cùng các bạn trường Ngân Hà nha!</p>
                                        <p style="text-align: justify;"><strong>Cănggggggg cực căng cực - Giận quá hóa khờ</strong></p>
                                        <p style="text-align: justify;">Ở tập này, độc giả sẽ được ngồi hàng ghế đầu theo dõi trận đấu bóng vòng loại khu vực Thiên Thạch Vù Vù. Trường Ngân Hà có trận bóng với trường Quả Táo. Bạch Dương những tưởng sẽ lại là ngôi sao như mọi lần, thì lại trở thành “báo thủ” khi bị mắc bẫy đội bạn, bị chọc cho giận tím gan dẫn đến phạm lỗi, bị phạt thẻ đỏ treo giò luôn trận sau.</p>
                                        <p style="text-align: justify;">Bạch Dương - Sư Tử, cặp đôi này không đùa được đâu, vì đùa là bùng nổ thiệt đó. Bạch Dương phừng phừng lửa giận, thêm Sư Tử nhảy vào trách móc, độ sôi tại trường Ngân Hà lúc đó chắc cũng cỡ Hỏa Diệm Sơn.</p>
                                        <p style="text-align: justify;">Đến với giải đấu trong tư cách đương kim vô địch, nhưng bây giờ trường Ngân Hà đang gặp khó khăn bởi bất cứ đội bóng nào khi thiếu vắng ngôi sao trên hàng công là Bạch Dương.</p>
                                        <p style="text-align: justify;">Các cung hoàng đạo đã phải xử lý chuyện này ra sao cho ngon nghẻ đây?</p>
                                        <p style="text-align: justify;"><strong>“Thoát pressing” trong nháy mắt</strong></p>
                                        <p style="text-align: justify;">Không chỉ bóng đá là môn chơi đồng đội, rất nhiều môn thể thao khác cũng cần đến sự giúp sức của toàn thể để làm nên chiến thắng. Chính vì điều đó mà thầy cô luôn động viên học sinh tham gia chơi thật nhiều các môn thể thao để rèn luyện tinh thần hợp tác làm việc nhóm, kiên trì không bỏ cuộc và tôn trọng mọi người.Tập “Giận quá hóa khờ” đem đến một thử thách vô cùng quen thuộc: khi bạn bị chọc giận tím người. Nếu để “lửa hận thù đốt cháy ký ức hai ta” thì sẽ có lúc nhìn lại “mắc cỡ quá Hai ơi” lắm luôn. Chỉ cần kiềm chế một phút là mọi chuyện sẽ ổn. Nhưng kiềm chế như thế nào, hạ nhiệt quả đầu đang bốc lửa ra sao? Mời bạn gõ cửa <em>mini game</em> số này để vừa chơi vừa thu gọn các bí kíp nhé!</p>                <div class="clear"></div>
                                    </div>
                                    <div class="product_tabs_description_contents_gradient" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <!-- Sản phẩm liên quan -->

        <div class="fhs_tabslider3_container" id="fhs_tabslider3_tab_recommendatedApi">
            <div class="fhs_tabslider3_header">
                <h3 class="fhs_tabslider3_title">Sản phẩm liên quan</h3>
            </div>
            <div class="fhs_tabslider3_products_container" id="fhs_tabslider3_pro_recommendatedApi">
                <div id="fhs_tabslider3_products_tabs_3" class="fhs_tabslider3_products swiper-container-horizontal" style="">
                    <div class="fhs_tabslider3_products_ul swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

                        <!-- lisst iem -->
                        <div class="fhs_tabslider3_li_items swiper-slide swiper-slide-active" style="width: 244px;">
                            <div class="item-inner" style="position: relative">
                                <div class="ma-box-content">
                                    <div class="products clearfix">
                                        <div class="product images-container">
                                            <a href="" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ" class="product-image">
                                                <div class="product-image">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" data-src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" class=" lazyloaded" alt="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">
                                                </div>
                                            </a>
                                            <div class="episode-label">Tập 9</div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name-no-ellipsis">
                                    <a href="/lop-hoc-mat-ngu-phien-ban-moi-tap-9-tang-kem-1-standee-lop-hoc-mat-ngu.html?fhs_campaign=RELATED_PRODUCT_2" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ</a>
                                </h2>
                                <div class="price-label products-grid">
                                    <p class="special-price">
                                        <span id="product-price-538311" class="price m-price-font">22.500 đ</span>
                                        <span class="discount-percent fhs_center_left">-10%</span>
                                    </p>
                                    <p class="old-price bg-white">
                                        <span id="old-price-538311" class="price m-price-font">25.000 đ</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- end  -->
                        <!-- lisst iem -->
                        <div class="fhs_tabslider3_li_items swiper-slide swiper-slide-active" style="width: 244px;">
                            <div class="item-inner" style="position: relative">
                                <div class="ma-box-content">
                                    <div class="products clearfix">
                                        <div class="product images-container">
                                            <a href="" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ" class="product-image">
                                                <div class="product-image">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" data-src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" class=" lazyloaded" alt="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">
                                                </div>
                                            </a>
                                            <div class="episode-label">Tập 9</div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name-no-ellipsis">
                                    <a href="/lop-hoc-mat-ngu-phien-ban-moi-tap-9-tang-kem-1-standee-lop-hoc-mat-ngu.html?fhs_campaign=RELATED_PRODUCT_2" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ</a>
                                </h2>
                                <div class="price-label products-grid">
                                    <p class="special-price">
                                        <span id="product-price-538311" class="price m-price-font">22.500 đ</span>
                                        <span class="discount-percent fhs_center_left">-10%</span>
                                    </p>
                                    <p class="old-price bg-white">
                                        <span id="old-price-538311" class="price m-price-font">25.000 đ</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- end  -->
                        <!-- lisst iem -->
                        <div class="fhs_tabslider3_li_items swiper-slide swiper-slide-active" style="width: 244px;">
                            <div class="item-inner" style="position: relative">
                                <div class="ma-box-content">
                                    <div class="products clearfix">
                                        <div class="product images-container">
                                            <a href="" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ" class="product-image">
                                                <div class="product-image">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" data-src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" class=" lazyloaded" alt="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">
                                                </div>
                                            </a>
                                            <div class="episode-label">Tập 9</div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name-no-ellipsis">
                                    <a href="/lop-hoc-mat-ngu-phien-ban-moi-tap-9-tang-kem-1-standee-lop-hoc-mat-ngu.html?fhs_campaign=RELATED_PRODUCT_2" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ</a>
                                </h2>
                                <div class="price-label products-grid">
                                    <p class="special-price">
                                        <span id="product-price-538311" class="price m-price-font">22.500 đ</span>
                                        <span class="discount-percent fhs_center_left">-10%</span>
                                    </p>
                                    <p class="old-price bg-white">
                                        <span id="old-price-538311" class="price m-price-font">25.000 đ</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- end  -->
                        <!-- lisst iem -->
                        <div class="fhs_tabslider3_li_items swiper-slide swiper-slide-active" style="width: 244px;">
                            <div class="item-inner" style="position: relative">
                                <div class="ma-box-content">
                                    <div class="products clearfix">
                                        <div class="product images-container">
                                            <a href="" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ" class="product-image">
                                                <div class="product-image">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" data-src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" class=" lazyloaded" alt="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">
                                                </div>
                                            </a>
                                            <div class="episode-label">Tập 9</div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name-no-ellipsis">
                                    <a href="/lop-hoc-mat-ngu-phien-ban-moi-tap-9-tang-kem-1-standee-lop-hoc-mat-ngu.html?fhs_campaign=RELATED_PRODUCT_2" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ</a>
                                </h2>
                                <div class="price-label products-grid">
                                    <p class="special-price">
                                        <span id="product-price-538311" class="price m-price-font">22.500 đ</span>
                                        <span class="discount-percent fhs_center_left">-10%</span>
                                    </p>
                                    <p class="old-price bg-white">
                                        <span id="old-price-538311" class="price m-price-font">25.000 đ</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- end  -->
                        <!-- lisst iem -->
                        <div class="fhs_tabslider3_li_items swiper-slide swiper-slide-active" style="width: 244px;">
                            <div class="item-inner" style="position: relative">
                                <div class="ma-box-content">
                                    <div class="products clearfix">
                                        <div class="product images-container">
                                            <a href="" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ" class="product-image">
                                                <div class="product-image">
                                                    <img src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" data-src="https://cdn0.fahasa.com/media/catalog/product/l/h/lhmn-phienbanmoi-biatap9-3254_1.jpg" class=" lazyloaded" alt="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">
                                                </div>
                                            </a>
                                            <div class="episode-label">Tập 9</div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="product-name-no-ellipsis">
                                    <a href="/lop-hoc-mat-ngu-phien-ban-moi-tap-9-tang-kem-1-standee-lop-hoc-mat-ngu.html?fhs_campaign=RELATED_PRODUCT_2" title="Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ">Lớp Học Mật Ngữ Phiên Bản Mới - Tập 9 - Tặng Kèm 1 Standee Lớp Học Mật Ngữ</a>
                                </h2>
                                <div class="price-label products-grid">
                                    <p class="special-price">
                                        <span id="product-price-538311" class="price m-price-font">22.500 đ</span>
                                        <span class="discount-percent fhs_center_left">-10%</span>
                                    </p>
                                    <p class="old-price bg-white">
                                        <span id="old-price-538311" class="price m-price-font">25.000 đ</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- end  -->



                    </div>
                </div>
            </div>
        </div>
