
@{
    ViewData["Title"] = "chiTietDatHang";
    Layout = "_Layout";
    <link rel="stylesheet" href="./css/chiTietDatHang.css" />
}

<div class="page-container">
    <div class="breadcrumb-header">
        <a href="@Url.Action("donHang", "DonHang")" class="btn-back">
            <i class="bi bi-chevron-left"></i>
        </a>
        <div class="title">
            <h2 class="mb-0">Chi tiết đơn hàng</h2>
        </div>
    </div>
    <div class="page-content">
        <div class="d-lex">
            <div class="d-flex flex-column">
                <div class="product d-flex">
                    <div class="product__des d-flex">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                        <div class="product__des-item">
                            <div>
                                <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                            </div>
                            <div>
                                <div class="product__detail" tabindex="0">
                                    <span>Thể loại:</span>
                                    <span>Truyện cổ tích</span>
                                </div>
                                <div class="product__quantity" tabindex="0">
                                    <span>Số lượng:</span>
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__price">
                        <span class="nW_6Oi">50.000</span>

                    </div>
                </div>
                <hr />
                <div class="product d-flex">
                    <div class="product__des d-flex">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                        <div class="product__des-item">
                            <div>
                                <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                            </div>
                            <div>
                                <div class="product__detail" tabindex="0">
                                    <span>Thể loại:</span>
                                    <span>Truyện cổ tích</span>
                                </div>
                                <div class="product__quantity" tabindex="0">
                                    <span>Số lượng:</span>
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__price">
                        <span class="nW_6Oi">50.000</span>

                    </div>
                </div>
                <hr />
                <div class="product d-flex">
                    <div class="product__des d-flex">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                        <div class="product__des-item">
                            <div>
                                <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                            </div>
                            <div>
                                <div class="product__detail" tabindex="0">
                                    <span>Thể loại:</span>
                                    <span>Truyện cổ tích</span>
                                </div>
                                <div class="product__quantity" tabindex="0">
                                    <span>Số lượng:</span>
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__price">
                        <span class="nW_6Oi">50.000</span>

                    </div>
                </div>
            </div>
            <hr />
            <div class="product__info-orders">
                <div>
                    <h4>Thông tin đơn hàng</h4>
                </div>
                <div class="product_info-detail">
                    <div>
                        <span>Mã đơn hàng: </span>
                        <span>DHABCC0930293</span>
                    </div>
                    <div>
                        <span>Thời gian đặt hàng: </span>
                        <span>15/12/2024</span>
                    </div>
                    <div>
                        <span>Địa chỉ giao hàng: </span>
                        <span>Đà Nẵng</span>
                    </div>
                    <div>
                        <span>Số điện thoại giao hàng: </span>
                        <span>0123456789</span>
                    </div>
                    <div>
                        <span>Phương thức thanh toán: </span>
                        <span>Zalo Pay</span>
                    </div>
                </div>
            </div>
            <div class="product__info-price">
                <div>
                    <h4>Thông tin thanh toán</h4>
                </div>
                <div class="product_info-detail">
                    <div>
                        <span>Tổng tiền hàng: </span>
                        <span>150.000</span>
                    </div>
                    <div>
                        <span>Phí vận chuyển: </span>
                        <span>30.000</span>
                    </div>
                    <hr />

                    <div class="product__totalPrice">
                        <span>Thành tiền: </span>
                        <span>180.000</span>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>