
@{
    ViewData["Title"] = "donHang";
    Layout = "_Layout";
    <link rel="stylesheet" href="./css/donHang.css" />
}

<div class="page-container">
    <div>
        <!-- Tab items -->
        <div class="tabs">
            <div class="tab-item active">
                Tất cả
            </div>
            <div class="tab-item">
                Vận chuyển
            </div>
            <div class="tab-item">
                Chờ giao hàng
            </div>
            <div class="tab-item">
                Hoàn thành
            </div>
            <div class="tab-item">
                Đã hủy
            </div>
            <div class="line"></div>
        </div>

        <!-- Tab content -->
        <div class="tab-content">
           @*  Tất cả *@
            <div class="tab-pane active">
                <div class="page-content">
                    <div class="d-lex">
                        <div class="d-flex flex-column">
                            <a href="@Url.Action("chiTietDatHang", "ChiTietDatHang")" class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </a>
                            <hr />
                            <a href="@Url.Action("chiTietDatHang", "ChiTietDatHang")" class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </a>
                            <hr />
                            <a href="@Url.Action("chiTietDatHang", "ChiTietDatHang")" class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </a>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>
                </div>
                
            </div>


            @* Vận chuyển *@
            <div class="tab-pane">
                <div class="page-content">
                    <div class="d-lex">
                        <div class="d-flex flex-column">
                            <a class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </a>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>

                    @* 2 *@

                    <div class="d-lex orders">
                        <div class="d-flex flex-column">
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>
                </div>
            </div>

            @* Chờ vận chuyển *@
            <div class="tab-pane">
                <div class="page-content">
                    <div class="d-lex">
                        <div class="d-flex flex-column">
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>

                    @* 2 *@

                    <div class="d-lex orders">
                        <div class="d-flex flex-column">
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>
                </div>
            </div>
            
            @* Hoàn thành *@
            <div class="tab-pane">
                <div class="page-content">
                    <div class="d-lex">
                        <div class="d-flex flex-column">
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>

                    @* 2 *@

                    <div class="d-lex orders">
                        <div class="d-flex flex-column">
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>
                </div>
            </div>


            @* Đã hủy *@
            <div class="tab-pane">
                <div class="page-content">
                    <div class="d-lex">
                        <div class="d-flex flex-column">
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>

                    @* 2 *@

                    <div class="d-lex orders">
                        <div class="d-flex flex-column">
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>
                            </div>
                            <hr />
                            <div class="product d-flex">
                                <div class="product__des d-flex">
                                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lrwycb70qg9092_tn" class="gQuHsZ" alt="" tabindex="0">
                                    <div class="product__des-item">
                                        <div>
                                            <div class="product__name">Truyện Hay Cho Bé 0-6 Tuổi - Tập 2</div>
                                        </div>
                                        <div>
                                            <div class="product__detail" tabindex="0">
                                                <span>Thể loại:</span>
                                                <span>Truyện cổ tích</span>
                                            </div>
                                            <div class="product__quantity" tabindex="0">
                                                <span>Số lượng:</span>
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__price">
                                    <span class="nW_6Oi">50.000</span>

                                </div>

                            </div>
                        </div>
                        <div class="product__totalPrice">
                            <span class="nW_6Oi">Thành tiền:</span>
                            <span class="nW_6Oi">150.000</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="./js/lichSuDatHang.js"></script>

