@{
    ViewData["Title"] = "Thông tin cá nhân ";
    Layout = "LayoutForSettingInfo";
   

}
@section LinkCss{
    <link rel="stylesheet" type="text/css" href="~/css/hoSoCaNhan.css" />
}

<div class="col-main col-lg-9 col-md-9 col-sm-12 col-xs-12 col-fhs-main-body">
    <div class="my-account user-detail block">
        <div class="page-title">
            <h1 style="font-weight:600;">Hồ sơ cá nhân</h1>
        </div>
        <form action="" class="form-account-info">
            <div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Họ và tên </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="hoVaTen">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Số điện thoại </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="soDienThoai">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Địa chỉ giao hàng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="soDienThoai">
                    </div>
                </div>
            </div>
            <div style="text-align: center;padding: 16px 0 5px 0;">
                <button type="button" title="Lưu thay đổi" id="btn-save-account-info" class="btn-save-confirm"><span><span>Lưu thay đổi</span></span></button>
            </div>
        </form>
    </div>
</div>